@import url('style.css');
/*************************
****** LANDING HOME ******
*************************/

.landing {
    width: 100%;
    height: 100vh;
    padding: 0 165px;
    background-image: url('../img/svg/Framedesktop-landing.svg');
    background-position: top right;
    background-repeat: no-repeat;
}

.landing__logo {
    margin-top: 60px;
}

.logo {
    align-self: flex-start;
    margin-top: 60px ;
}

.landing__body {
    margin-bottom: 50px;
}

/*.landing__stores {
}*/

.landing__body h1 { margin-bottom: 30px;}
.landing__stores img:last-child { margin-left: 35px;}

/*************************
****** WHAT IT DOES ******
*************************/

.what-it-does {
    width: 100%;
    height: 590px;
    padding: 0 165px;
    background-image: linear-gradient(to right, rgba(237,237,237,0) 0%, rgba(243,243,243,1) 50%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%), url('../img/svg/ronaldo.svg');
    background-position: left;
    background-repeat: no-repeat;
}
.what-it-does__title {
    margin-bottom: 30px;
}
.what-it-does__body {
    margin: 30px auto 20px auto;
}

.what-it-does .container img {
    z-index: 1;
    transform: translateY(-10%);
}
.what-it-does .container img:last-child {
    transform: translate(-70%, 100px);
    z-index: 0;
}

/*************************
****** WHAT IT DOES ******
*************************/

.sponsors {
    width: 100%;
    height: 280px;
    padding: 50px 165px 0 165px;
}

/*.sponsors__title { margin: 5px auto;}

.sponsors .container {
    margin-top: -90px;
}*/

/*************************
****** GET IN TOUCH ******
*************************/

.get-in-touch {
    width: 100%;
    height: 480px;
    padding: 0 165px;
    background-image: url('../img/svg/footer-frame.svg');
    background-position: left;
    background-repeat: no-repeat;
}

.get-in-touch__body {
    margin-bottom: 40px;
}

.get-in-touch__body h1 { margin: 150px 0 35px 0;}
.get-in-touch__stores img:last-child { margin-left: 35px;}

/*************************
********* FOOTER *********
*************************/

.footer {
    width: 100%;
    height: 130px;
    padding: 0 165px;
}

/**************************
****** MEDIA QUERIES ******
**************************/

@media screen and (max-width: 480px) {
    .landing {
        background-image: none;
    }
}