@import url('style.css');

.section__title, .section__body__title, .section__body { margin-bottom: 30px; }
.section__body { line-height: 25px; }

/*************************
****** LANDING HOME ******
*************************/

.landing {
    width: 100%;
    height: 100vh;
    padding: 0 165px;
    background-image: url('../img/svg/Framedesktop-landing.svg');
    background-position: top right;
    background-repeat: no-repeat;
}

.landing__logo {
    margin-top: 60px;
    flex: 10%;
}

.landing__body {
    margin-bottom: 50px;
    line-height: 25.92px;
}

.landing__body h1 { margin-bottom: 30px; line-height: 47.50px;}
.landing__stores img:last-child { margin-left: 35px;}

/*************************
****** WHAT IT DOES ******
*************************/

.what-it-does {
    width: 100%;
    height: 590px;
    padding: 0 165px;
    background-image: linear-gradient(to right, rgba(237,237,237,0) 0%, rgba(243,243,243,1) 50%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%), url('../img/svg/ronaldo.svg');
    background-position: left;
    background-repeat: no-repeat;
}

.what-it-does .container img {
    z-index: 1;
    transform: translateY(-10%);
}
.what-it-does .container img:last-child {
    transform: translate(-70%, 100px);
    z-index: 0;
}

/******************************
********* GET STARTED *********
******************************/

.get-started {
    width: 100%;
    height: 715px;
    padding: 0 165px;
    background: url('../img/svg/get-started-bg.svg');
    background-position: right;
    background-repeat: no-repeat;
    z-index: 0;
}

.get-started__icons {}

.get-started .container img {z-index: 1;}

.get-started__icons__dot {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 765px;
    top: 1810px;
    background: transparent;
    background-image: url('../img/svg/icons/get-started-dot.svg');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}
/***********************
******* FEATURES *******
***********************/

.features {
    width: 100%;
    height: 735px;
    padding: 0 165px;
    background-image: url('../img/svg/bg-blue.svg');
    background-position: top left;
    background-repeat: no-repeat;
}

/*************************
********* REVIEW *********
*************************/

.reviews {
    width: 100%;
    height: 430px;
    padding: 0 165px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(0,0,0,0) 50%, rgba(255,255,255,1) 95%);
}


/*************************
******** SPONSOR ********
*************************/

.sponsors {
    width: 100%;
    height: 280px;
    padding: 50px 165px 0 165px;
}

.sponsors .container img {
    margin: 0 30px 0 30px;
}

/*************************
****** GET IN TOUCH ******
*************************/

.get-in-touch {
    width: 100%;
    height: 480px;
    padding: 0 165px;
    background-image: url('../img/svg/footer-frame.svg');
    background-position: left;
    background-repeat: no-repeat;
}

.get-in-touch__stores img:last-child { margin-left: 35px;}

/*************************
********* FOOTER *********
*************************/

.footer {
    width: 100%;
    height: 130px;
    padding: 0 165px;
}

.footer a {
    margin: 0 10px;
}

/**************************
****** MEDIA QUERIES ******
**************************/

@media screen and (max-width: 480px) {
    .landing {
        background-image: none;
    }
}