@import url('style.css');

.section__title, .section__body__title, .section__body { margin-bottom: 30px; }
.section__body { line-height: 25px; }

/*************************
****** LANDING HOME ******
*************************/

.landing {
    width: 100%;
    height: 100vh;
    padding: 0 165px;
    background-image: url('../img/svg/desktop-landing.svg');
    background-position: top right;
    background-repeat: no-repeat;
}

.landing .container:first-child img { margin-top: 60px; }
.landing .container:last-child {flex: 90%;}
.landing .container h1 { line-height: 47.50px;}
.landing__stores img:last-child { margin-left: 35px;}

/*************************
****** WHAT IT DOES ******
*************************/

.what-it-does {
    width: 100%;
    height: 590px;
    padding: 0 165px;
    background-image: linear-gradient(to right, rgba(237,237,237,0) 0%, rgba(243,243,243,1) 50%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%), url('../img/svg/ronaldo.svg');
    background-position: left;
    background-repeat: no-repeat;
}

.what-it-does .container img {
    z-index: 1;
    transform: translateY(-10%);
}

.what-it-does .container img:last-child {
    transform: translate(-70%, 100px);
    z-index: 0;
}

/******************************
********* GET STARTED *********
******************************/

.get-started {
    width: 100%;
    height: 715px;
    padding: 0 165px;
    background: url('../img/svg/get-started-bg.svg');
    background-position: right;
    background-repeat: no-repeat;
    z-index: 0;
}

.get-started .container img {z-index: 1;}

.get-started__icons__dot {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 765px;
    top: 1810px;
    background: transparent;
    background-image: url('../img/svg/icons/get-started-dot.svg');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}
/***********************
******* FEATURES *******
***********************/

.features {
    width: 100%;
    height: 735px;
    padding: 60px 165px;
    background-image: url('../img/svg/bg-blue.svg');
    background-position: top left;
    background-repeat: no-repeat;
}

.features__item { width: 315px; margin: 30px 90px;}
.features__item img { margin-bottom: 10px; align-self: flex-start;}
.features__item p {list-style: disc inside none; display:list-item;}

/*************************
********* REVIEW *********
*************************/

.reviews {
    width: 100%;
    height: 430px;
    padding: 70px 165px 50px 165px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(0,0,0,0) 50%, rgba(255,255,255,1) 95%);
    z-index: 1;
}

.reviews__gradient {
    width: 100%;
    height: 430px;
    position: relative;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(0,0,0,0) 50%, rgba(255,255,255,1) 95%);
    z-index: 1;
}

.reviews__box {
    width: 310px;
    height: 160px;
    border: 1px solid #828282;
    border-radius: 5px;
    padding: 10px;
    margin: auto 10px;
    flex-wrap: nowrap;
    overflow: hidden;
    z-index: 0;
}

.reviews__box .container:first-child { margin-bottom: auto; margin-top: 10px;}
.reviews__box__profile span { margin-left: 10px; }
.reviews__box__body { margin-bottom: auto; line-height: 20px; }


/*.reviews__box .container img:first-child { float: left;}
.reviews__box .container img:last-child { float: right;}*/

/*************************
******** SPONSOR ********
*************************/

.sponsors {
    width: 100%;
    height: 280px;
    padding: 50px 165px 0 165px;
}

.sponsors .container img {
    margin: 0 30px 0 30px;
}

/*************************
****** GET IN TOUCH ******
*************************/

.get-in-touch {
    width: 100%;
    height: 480px;
    padding: 0 165px;
    background-image: url('../img/svg/footer-frame.svg');
    background-position: left;
    background-repeat: no-repeat;
}

.get-in-touch__stores img:last-child { margin-left: 35px;}

/*************************
********* FOOTER *********
*************************/

.footer {
    width: 100%;
    height: 130px;
    padding: 0 165px;
}

.footer a {
    margin: 0 10px;
}

/**************************
****** MEDIA QUERIES ******
**************************/

@media screen and (max-width: 480px) {
    .landing {
        background-image: none;
    }
}