/************************
******** INITAL *********
************************/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* { 
    box-sizing: border-box; 
    padding: 0px; 
    margin: 0px;
}

body, p, a, a:active, a:visited { 
    font-family: 'Lato', sans-serif;; 
    font-weight: 400; 
    text-decoration: none; 
    color: inherit;
}

/*******************
****** COLORS ******
*******************/

.bgLanding { background-color: #F4F6F9; }
.bgLightGrey { background-color: #FAFAFA; }
.bgWhite { background-color: #FFFFFF; }
.bgAzure { background-color: #00ADEE; }

.Grey100 { background-color: #828282; } 
.Grey90 { background-color: #979595; }
.Grey70 { background-color: #B2B0B0; }
.Grey50 { background-color: #CDCBCB; }
.Grey30 { background-color: #E2E1E1; }
.Grey20 { background-color: #EEEEEE; }
.Grey10 { background-color: #F7F7F7; }

.txtAzure {color: #00ADEE; }
.txtWhite { color: #FFFFFF; } 
.txtGrey { color: #333333; }
.txtBody { color: #4F4F4F; }

/***********************
****** FONT STYLE ******
***********************/

.size14 { font-size: 14px; }
.size16 { font-size: 16px; }
.size18 { font-size: 18px; }
.size28 { font-size: 28px; }
.size36 { font-size: 36px; }

.bold { font-weight: 700; }
.uppercase { text-transform: uppercase; }

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-justify { text-align: justify;}

/********************
****** LAYOUTS ******
********************/

.container {
    max-width: 1440px;
    padding: 0;
}

.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }

.flex-center-x { justify-content: center; }
.flex-start-x { justify-content: flex-start; }
.flex-end-x { justify-content: flex-end; }

.flex-sb { justify-content: space-between; }
.flex-sa { justify-content: space-around; }

.flex-center-y { align-items: center; }
.flex-start-y { align-items: flex-start; }
.flex-end-y { align-items: flex-end; }

.no-wrap {flex-wrap: nowrap;}

.flex30 { width: 30%; }
.flex39 { width: 39%; } /* JUST FOR CENTER GET STARTED PHONE BG */
.flex40 { width: 40%; }
.flex60 { width: 60%; }
.flex61 { width: 61%; } /* JUST FOR CENTER GET STARTED PHONE BG */
.flex70 { width: 70%; }